[submodule "micropython"]
	path = micropython
	url = https://github.com/micropython/micropython.git
[submodule "boards/WeActStudio.STM32F4_64Pin_CoreBoard"]
	path = docs/WeActStudio.STM32F4_64Pin_CoreBoard
	url = https://github.com/WeActStudio/WeActStudio.STM32F4_64Pin_CoreBoard.git
[submodule "docs/WeActStudio.STM32H5_64Pin_CoreBoard"]
	path = docs/WeActStudio.STM32H5_64Pin_CoreBoard
	url = https://github.com/WeActStudio/WeActStudio.STM32H5_64Pin_CoreBoard
[submodule "docs/WeActStudio.MiniSTM32H7xx"]
	path = docs/WeActStudio.MiniSTM32H7xx
	url = https://github.com/WeActStudio/MiniSTM32H7xx.git
[submodule "st7789_mpy"]
	path = st7789_mpy
	url = https://github.com/russhughes/st7789_mpy
[submodule "docs/WeActStudio.MiniSTM32H723"]
	path = docs/WeActStudio.MiniSTM32H723
	url = https://github.com/WeActStudio/WeActStudio.MiniSTM32H723
[submodule "docs/jkorte-mp-STM32H723VGT6"]
	path = docs/jkorte-mp-STM32H723VGT6
	url = https://github.com/jkorte-dev/micropython-board-STM32H723VGT6
